<div class="navbar">
    <mat-toolbar color="primary" class="navbar">
        <div> 
            <span (click)="navigate('home')">Home </span>
            <span (click)="navigate('edit')">Edit profile </span>
            <span (click)="navigate('workigHours')">Add working hours </span>
       </div>
    </mat-toolbar> 
    <mat-card>
        <button (click)="add()">New</button>
    </mat-card>

     <mat-card>
     <div>
         <mat-table mat-table [dataSource]="workingHours">
             <ng-container matColumnDef="StartWork">
                <th mat-header-cell *matHeaderCellDef>Strat work</th>
                <td mat-cell *matCellDef="let workingHour">{{workingHour.startWork}}</td>
              </ng-container>
              <ng-container matColumnDef="EndWork">
                 <th mat-header-cell *matHeaderCellDef>End work</th>
                 <td mat-cell *matCellDef="let workingHour">{{workingHour.endWork}}</td>
               </ng-container> 
               <ng-container matColumnDef="WeekDay">
                <th mat-header-cell *matHeaderCellDef>Week day</th>
                <td mat-cell *matCellDef="let workingHour">{{workingHour.weekDay}}</td>
              </ng-container>        
             <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
             <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </mat-table>
     </div>
     </mat-card>
</div>